# Database files
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/

# Environment directories
venv/
env/
ENV/
.env
.venv

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Log files
logs/
*.log